
/*    <!------------making_MAIN_CLASS-------------->
*/
main{
    padding: 45px;
    line-height: 30px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .box1 .b1{
    display: flex;
    width: 500px;
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    padding-bottom: 20px;
}
main .box1 .b2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 19.5px;
    line-height: 22px;
}
main .box1 .b3{
    padding-top: 15px;
}
main .box1 .b3 a{
    text-decoration: none;
    background-color: white;
    padding: 7px 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
    font-size: 14px;
}
main .box1 .b3 a:hover{
    box-shadow: 3px 3px 7px rgb(199, 68, 255), -3px -3px 7px rgb(199, 68, 255);
    border: 2px solid white;
}

main .box2{
    display: flex;
    padding-left: 280px;
    padding-top: 50px;
    
}

main .box2 img{
    height: 400px;
    border: 2px solid white;
    outline: 2px solid white;
    outline-offset: 2.5px;
    background-color: rgba(88, 0, 171, 0.425);
}



/*    <!------------END making_MAIN_CLASS-------------->
*/




/*    <!------------making_HEADER-------------->
*/

header{
    display: flex;
    padding-left:40px ;
    padding-top: 20px;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 500px;
    color: rgb(241, 226, 255);
}
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding-right:40px ;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    float: left;
    width: 100px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
}
.lgbutton{
    font-size: 16px;
    padding: 5px 15px;
    font-weight: bolder;
    border-radius: 10px;
    color: rgb(0, 0, 220);

}

.navbar ul :hover{
    background-color: rgb(214, 170, 255);
    color: #262626;
    font-weight: bold;
}
.navbar ul ul{
    display: none;
} 
.navbar ul li:hover > ul{
    display: block;
}
header ul ul li{
    border: 2px solid rgb(55, 0, 55);
    background-color: rgb(75, 0, 145);
    color: aliceblue;
}
header .lgbutton{
    outline: none;
    border: none;
    cursor: pointer;
}
header .lgb:hover{
    background-color: rgba(255, 0, 0, 0) ;
}
header .lgbutton:hover{
    border: 5px solid rgb(214, 170, 255);
}

/*    <!------------End_making_HEADER-------------->
*/






/*-----------background design-------------*/
.background .background_img{
    width: 1523px;
    height: 700px;
    margin-bottom: -12px;
    margin-top: -10px;
    margin-left: -10px;
    position: relative;
}
.background .background_gradient{
    height: 101.3%;
    width: 1520.5px;
    background: linear-gradient(to left, rgba(55, 0, 255, 0.448),rgba(255, 0, 225, 0.428));    
    position: absolute; 
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0;
    margin: auto;
}
/*-----------end background design-------------*/